/* FONTES */
@font-face {
    font-family: 'Tungsten';
    src: url('fonts/Tungsten_Font/@font-face/tugns.woff') format('woff'),
         url('fonts/Tungsten_Font/@font-face/tungs.eot') format('eot'),
         url('fonts/Tungsten_Font/@font-face/tungs.woff2') format('woff2'),
         url('fonts/Tungsten_Font/@font-face/tungst.ttf') format('ttf'),
         url('fonts/Tungsten_Font/Tungsten-Bold/Tungsten-Bold.ttf') format('ttf');

    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato_Font/Lato2OFL/Lato-BoldItalic.ttf') format('ttf'),
         url('fonts/Lato_Font/Lato2OFL/Lato-Hairline.ttf') format('ttf'),
         url('fonts/Lato_Font/Lato2OFL/Lato-HeavyItalic.ttf') format('ttf'),
         url('fonts/Lato_Font/Lato2OFL/Lato-LightItalic.ttf') format('ttf'),
         url('fonts/Lato_Font/Lato2OFL/Lato-Medium.ttf') format('ttf');

    font-weight: normal;
    font-style: normal;
  }

/* BACKGROUND BODY */

body {
    /* background-image: url("images/back.jpg");
    background-size: cover;
    background-attachment: fixed; */
    background-color: #092647;
}

/* LOGO */

.img {
    width: 250px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
}

/* NAVBAR */

#navbar {
    font-family: 'Lato', sans-serif;
    height: 150px;
    text-align: center;
    background: #092647;
    padding-right: 15px;
}

#navbar #navbarSupportedContent .nav-item {
    width: 160px;
    text-align: center;
    color: #fff;
}

.navbar-toggler {
    color: #f6a250;
    background: #f6a250;
}

/* TITLES */

.title {
    font-family: 'Tungsten';
    font-size: 50px;
}

#proposta {
    padding-top: 130px;
}

.section-index2 {
    font-family: 'Lato', sans-serif;
    padding: 200px 0 40px 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.section-index {
    font-family: 'Lato', sans-serif;
    padding: 50px 0 30px 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.section-row {
    align-items: center;
}

.section-row2 {
    align-items: center;
    padding-top: 30px;
}

.text1 {
    padding: 20px 20px 10px 20px;
    justify-content: center;
    text-align: left;
    display: block;
    color: #fff;
}

.text2 {
    padding: 20px 20px 10px 20px;
    justify-content: center;
    text-align: center;
    display: block;
    color: #fff;
}

.image-web2 {
    height: 250px;
}

.imgcol {
    display: flex;
    justify-content: center;
    float: right;
}

.imgcol2 {
    display: flex;
    justify-content: center;
}

#icon {
    width: 30px;
}

.title {
    padding-bottom: 20px;
}

.fale_con {
    font-family: 'Lato';
    color: #fff;
    padding-top: 150px;
}

.saiba {
    font-family: 'Lato';
    color: #fff;
    padding-top: 150px;
}

.thank {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    flex-direction: column;
}

.text_thank {
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: #092647;
}

.thankcs {
    background-image: url("images/element.png");
    background-size: cover;
    background-attachment: fixed;
}

.paragraf {
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #000;
    padding-bottom: 20px;
}

.btn {
    font-size: 30px;
    color: #fff;
    background: #092647;
    margin: auto;
}

/* animacoes js */

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

.btn_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
}

.btn_top.visible {
    visibility: visible;
}

.img_btn {
    width: 40px;
    height: auto;
}